<div class="container wow animated fadeInLeft animated" data-wow-duration="1s" data-wow-delay="0.5s">
    <div class="row">
        <div class="col-lg-8 align-center about">
            <h1 class="arrow">You need a new perspective: God's</h1>
            <hr>
            <p>The Perspectives course is all about God's name and His glory - and about proclaiming that to every nation, tribe, people and tongue. Come join us Jan. 12th for an epic night of worshiping our great King, and learn more about this 15 week journey that we're inviting you to embark on with us.</p>
        </div>
    </div>
</div>