<div class="row">
  <div>
    <section class="grid-wrap">
      <div class="grid-gal">
        <figure class="block-hover psp-promo-1 col-lg-3 col-sm-12">
          <a class="venoboxvid" data-type="youtube" href="//youtu.be/uCmZeb_j2LU" target="_self"><img src="assets/img/vdo-icn.png" alt="video_hover"><span>Igniting Missional Living</span></a>
        </figure>
      </div>
    </section>
    <!--grid wrap-->
    <!-- slideshow -->
    <!-- <section class="slideshow">
      <ul>
        <li>
          <figure>
            <img src="assets/img/gallery/1.jpg" alt="img01">
            <figcaption>
              <hr>
              <p>
                Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.
              </p>
            </figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <img src="assets/img/gallery/2.jpg" alt="img02">
            <figcaption>
              <hr>
              <p>
                Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.
              </p>
            </figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <img src="assets/img/gallery/3.jpg" alt="img03">
            <figcaption>
              <hr>
              <p>
                Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.
              </p>
            </figcaption>
          </figure>
        </li>
      </ul>
      <nav>
        <span class="nav-prev fa-chevron-left fa fa-2x"></span> <span class="nav-next fa-chevron-right fa fa-2x"></span> <span class="close nav-close"><i class=
                            "fa fa-times"></i></span>
      </nav>
    </section> -->
    <!-- /slideshow -->
  </div>
  <!-- /grid-gallery -->
  <div class="container col-lg-6 col-md-12 features-md">
    <div class="row">
      <div class="col-md-12">
        <div class="features-wrapper">
        <div class="col-md-4 wow animated fadeInUp" data-wow-duration="1s" data-wow-delay="0.9s">
            <div class="icon">
              1
            </div>
            <h2>
                                        Glorious Story
                                    </h2>
            <p>
                We're threaded into the greatest story of all time and you have a significant role to play!
            </p>
          </div>
          <div class="col-md-4 wow animated fadeInUp" data-wow-duration="1s" data-wow-delay="0.7s">
            <div class="icon">
              4
            </div>
            <h2>
                                        Life-changing Perspectives
                                    </h2>
            <p>
              In depth study of the Biblical, Historical, Cultural and Strategic perspectives
            </p>
          </div>

          <div class="col-md-4 wow animated fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
            <div class="icon">
              15
            </div>
            <h2>
                                       Renowned  instructors
                                    </h2>
            <p>
              Learn firsthand from the global experiences of ground-level church planters, pastors, professors, biblical scholars, mobilizers, theologians, missiologists and missionaries.
            </p>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
  <!-- Vimoe Video-->
  <div class="grid-gal">
    <figure class="block-hover psp-promo-2 col-lg-3 col-sm-12">
      <a class="venoboxvid" data-type="youtube" href="//youtu.be/h6a-uSBHu9A" target="_self"><img src="assets/img/vdo-icn.png" alt="video_hover"><span>Perspectives Promo 2</span></a>
    </figure>
  </div>
</div>
