<div class="container">
    <div class="row">
        <div class="col-md-8 align-center wow animated fadeInLeft" data-wow-duration="1s" data-wow-delay="0.5s">
            <h1 class="arrow">
                            Our Partners
                        </h1>
            <hr>
            <p>
                Lorem ipsum dolor sit amet, alia honestatis an qui, ne soluta nemore eripuit sed. Falli exerci aperiam ut his, prompta feugiat usu minimum delicata.
            </p>
        </div>
        <!-- Jssor Slider Begin -->
        <div class="slides-container hide">
            <div class="inner_carousal" data-u="slides">
                <div>
                    <img alt="sp1" src="assets/img/sponsor/sp1.png">
                </div>
                <div>
                    <img alt="sp2" src="assets/img/sponsor/sp2.png">
                </div>
                <div>
                    <img alt="sp3" src="assets/img/sponsor/sp3.png">
                </div>
                <div>
                    <img alt="sp4" src="assets/img/sponsor/sp4.png">
                </div>
                <div>
                    <img alt="sp5" src="assets/img/sponsor/sp5.png">
                </div>
                <div>
                    <img alt="sp6" src="assets/img/sponsor/sp6.png">
                </div>
                <div>
                    <img alt="sp7" src="assets/img/sponsor/sp7.png">
                </div>
            </div>
        </div>
        <!-- Jssor Slider End -->
    </div>
</div>
