<div class="container" init>
  <div class="row">
    <div class="col-md-12">
      <h1 class="arrow">
                            Cost
                        </h1>
      <hr>
      <p>
        See what you get during the event. Lorem ipsum dolor sit amet, ne soluta nemore eripuit sed.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="pricing-wrap">
      <ul class="slides">
        <li>
          <div class="col-md-4 col-sm-6 col-xs-6 wow animated fadeInRight" data-wow-duration="1s" data-wow-delay="0.3s">
            <ul class="planContainer">
              <li class="title">
                <h2>
                                                $200
                                            </h2>
              </li>
              <li class="price">
                <p>
                  Early Bird
                </p>
              </li>
              <li>
                <ul class="options">
                  <li>
                    Please contact us for more information.
                  </li>
                </ul>
              </li>
              <li class="button">
                <a data-scroll class="btn-effect" href="#swag">Register</a>
              </li>
            </ul>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-6 wow animated fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
            <ul class="planContainer">
              <li class="title">
                <h2 class="bestPlanTitle">
                                                $250
                                            </h2>
              </li>
              <li class="price">
                <p class="bestPlanPrice">
                  Certificate
                </p>
              </li>
              <li>
                <ul class="options">
                  <li>
                    Please contact us for more information.
                  </li>
                </ul>
              </li>
              <li class="button">
                <a data-scroll class="bestPlanButton btn-effect" href="#swag">Register</a>
              </li>
            </ul>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-6 wow animated fadeInRight" data-wow-duration="1s" data-wow-delay="0.7s">
            <ul class="planContainer">
              <li class="title">
                <h2>
                                                $500
                                            </h2>
              </li>
              <li class="price">
                <p>
                  College Credit
                </p>
              </li>
              <li>
                <ul class="options">
                  <li>
                    Please contact us for more information.
                  </li>
                </ul>
              </li>
              <li class="button">
                <a data-scroll class="btn-effect" href="#swag">Register</a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
